html {
  text-rendering: optimizeLegibility;
  overflow-x: hidden;
  margin: 0;
  padding: 0;
  width: 100%;
  height: auto;
  font-size: 16px;
  font-family: "Open Sans";
  height: 100%;
  background-color: #4283d0;
}

body {
  margin: 0;
  padding: 0;
  overflow-x: hidden;
  height: 100%;
}

.clearfix {
  zoom: 1;
}

.clearfix::after {
  content: "";
  clear: both;
  display: table;
}

h1,
h2,
p {
  margin: 0;
}

.heading {
  display: grid;
  grid-template-columns: 1fr 3fr;
  color: #ffff;
  margin-top: 4%;
}

.nav-bar li {
  list-style: none;
  display: inline-block;
  padding: 20px;
}

.heading h1 {
  margin-left: 20%;
  margin-top: 6%;
}

.nav-bar ul {
  margin-left: 60%;
}

.heading a {
  text-decoration: none;
  color: #ffff;
}

#logout {
  color: #4283d0;
  font-size: 20px;
  margin-left: 80%;
  margin-right: 5%;
  background-color: #ffff;
  text-align: center;
  border-radius: 20px;
  margin-top: 2.5%;
  padding: 1% 0;
  cursor: pointer;
}

.welcome {
  margin-left: auto;
  margin-right: auto;
  font-size: 60px;
  text-align: center;
  margin-top: 15%;
  color: #ffff;
  text-transform: uppercase;
}

.register-box,
.login-box,
.create-form,
.update-form {
  visibility: none;
  display: none;
}

#login,
#register {
  cursor: pointer;
}

.login-box,
.register-box,
.create-form,
.update-form {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  background-color: #244977b7;
  color: #ffff;
  position: absolute;
  padding: 10%;
  width: 400px;
  top: 200px;
  left: 350px;
  border-radius: 30px;
}

input {
  display: block;
  border-radius: 30px;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  width: 200px;
  height: 30px;
  margin-bottom: 10px;
}

#todo {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  margin-top: 4%;
  color: #ffff;
}

#todo h2 {
  background-color: #91b7e4;
  color: #ffff;
  font-size: 25px;
  padding: 1% 0;
  width: 30%;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
  border-radius: 20px;
  margin-bottom: 60px;
}

#addTodo {
  cursor: pointer;
}

.todo-list h3 {
  color: #4283d0;
  background-color: #ffff;
  border-radius: 40px;
  margin-bottom: 20px;
  font-weight: 300;
  width: 60%;
  padding: 2% 0;
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}

.todo-list a {
  cursor: pointer;
  text-decoration: none;
}
